
.hero {
	background-image: url('/img/hero_pattern.jpeg');
	background-size: cover;
	padding: 1.5em;
}

.hero__flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero__blurb {
	background-color: rgb(255, 255, 255, .8);
	padding: 2em;
	max-width: 400px;
	border-radius: 1em;
}

.hero__img-container {
	width: 200px;
	height: 200px;
	margin-left: 16px;
}

.hero__img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	border: 10px solid var(--yellow);

}

.hero p {
	line-height: 1.5em;
}

.pink {
	background-color: var(--pink);
}

.blue {
	background-color: var(--blue);
}

.orange {
	background-color: var(--orange);
}

.placeholder {
	height: 200px;
}

section {
	margin: 1.5em 0;
	padding: 1em;
	color: var(--white);
}

section h2 {
	text-transform: uppercase;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	letter-spacing: .1rem;
	font-size: 1.65em;
}

hr {
	border: 1px solid var(--white);
	margin: .6em 0 1em 0;
}

.quote {
	background-color: #114189;
	line-height: 1.25em;
	padding: 1.5em;
	margin: 1em;
	border-radius: 16px;
}

.quote p:nth-child(2) {
	margin-top: 16px;
}

.featuredposts {
	display: flex;
	overflow-x: auto;
	padding-bottom: 1em;
}

.featuredpost__container {
	background-color: rgb(255, 255, 255, .8);
	border-radius: 1em;
	color: var(--grey);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
	padding: .5em;
	flex-basis: 360px;
    flex-grow: 0;
    flex-shrink: 0;
}

.featuredpost__title {
	font-size: 1.1em;
	font-weight: bold;
	margin: 8px 0 0 0;
}

.featuredpost__container img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid var(--yellow);
	margin-right: 1em;
}