

.hero {
	background-image: url('/img/hero_pattern.jpeg');
	background-size: cover;
	padding: 1.5em;
	margin-top: 80px;
}

@media screen and (max-width: 668px) {
	.hero {
		margin-top: 102px;
	}
}

.hero__flex-container {
	display: flex;
	flex-direction: row-reverse;
	gap: 1em;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 768px) {
	.hero__flex-container {
		flex-direction: column;
	}
}

.hero__blurb {
	background-color: rgb(255, 255, 255, .8);
	padding: 2em;
	max-width: 400px;
	min-width: 200px;
	border-radius: 1em;
	order: 2;
}

.hero__img-container {
	width: 200px;
	height: 200px;
	order: 1; 
}

.hero__img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	border: 10px solid var(--yellow);

}

.hero p {
	line-height: 1.5em;
}



section {
	margin: 1.5em 0;
	padding: 1em;
	color: var(--white);
}

section h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	letter-spacing: .1rem;
	font-size: 1.65em;
}

hr {
	border: 1px solid var(--white);
	margin: .6em 0 1em 0;
}

.quote {
	background-color: #fa7b00;
	line-height: 1.25em;
	padding: 1.5em;
	margin: 1em;
	border-radius: 16px;
}

.quote p:nth-child(2) {
	margin-top: 16px;
}

.featuredposts {
	display: flex;
	justify-content: center;
	overflow-x: auto;
	padding-bottom: 1em;
}

@media screen and (max-width: 834px) {
	.featuredposts {
		justify-content: left;
	}
}

.featuredpost__container {
	background-color: rgb(255, 255, 255, .8);
	border-radius: 1em;
	color: var(--grey);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
	padding: .5em;
	flex-basis: min(360px, 85%);
    flex-grow: 0;
    flex-shrink: 0;
}

.featuredpost__title {
	font-size: 1.1em;
	font-weight: bold;
	margin: 8px 0 0 0;
}

.featuredpost__container img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid var(--yellow);
	margin-right: 1em;
}

.project__container {
	display: flex;
	align-items: center;
	gap: 2em;
	background-color: #d35272;
	padding: 1em;
	border-radius: 1em;
	margin: 1em;

	@media screen and (max-width: 734px) {
		flex-direction: column;
	}
}

.project__container img {
	width: 300px;
	object-fit: cover;
	border-radius: 1em;
	border: 1px solid white;
	box-shadow: 7px 10px 21px 0px rgba(0,0,0,0.75);

	@media screen and (max-width: 734px) {
		width: 100%;
	}
}

.project__container a {
	color: var(--grey);
	text-decoration: none;
	background-color: var(--yellow);
	padding: .5em;
	border-radius: .25em;
	display: inline-flex;
	/* margin: 2em 0; */
}

.project__container a:hover {
	color: black;
}