@import url('./reset.css');

/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--white: #ffffff;
	--pink: #F4799A;
	--yellow: #FFC107;
	--yellow2: #FDC826;
	--orange: #FDA41D;
	--blue: #1A54AE;
	--dark-blue: #050732;
	--grey: #333;

	--background-color: var(--white);
	--text-color: var(--grey);
	--text-color-link: var(--orange);
	--text-color-link-active: var(--yellow);
}


/* Global stylesheet */

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	height: 100%;
}

.content {
	max-width: min(800px, 100%);
	padding: 1em;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.wrapper.home {
	grid-template-rows: auto auto 1fr auto;
}

a[href]:not(.home-link) {
	color: var(--text-color-link);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

.flex {
	display: flex;
}

/* Header */

.nav-container {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	justify-content: space-between;
}

footer {
	background-color: var(--dark-blue);
	color: var(--white);
	padding: 2em;
}

.home-link img {
	width: 275px;
}

/* Nav */
.nav {
	display: flex;
	vertical-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-item {
	display: inline-block;
	margin-right: 1em;
	align-self: center;
}

.nav-item a[href] {
	text-decoration: none;
	color: var(--grey);
}

.nav-item a[href]:hover {
	color: var(--orange);
}

.nav a[href][aria-current="page"] {
	color: var(--yellow);
}
