@import url('./reset.css');

/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--white: #ffffff;
	--pink: #F4799A;
	--yellow: #FFC107;
	--yellow2: #FDC826;
	--orange: #FDA41D;
	--blue: #1A54AE;
	--dark-blue: #050732;
	--grey: #333;

	--background-color: var(--white);
	--text-color: var(--grey);
	--text-color-link: var(--yellow);
	--text-color-link-active: var(--yellow);
}


/* Global stylesheet */

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	height: 100%;
}

.content {
	max-width: min(800px, 100%);
	margin: 0 auto;
}

a[href]:not(.footer-link) {
	color: var(--text-color-link);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

/* Header */

header {
	background-color: rgb(255, 255, 255, .9);
	position: fixed;
	width: 100%;
	top: 0;
}

/* Nav */

.home-link img {
	width: 275px;
}

.nav {
	display: flex;
	vertical-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav__container {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	justify-content: space-between;
}

.nav__item {
	display: inline-block;
	margin-right: 1em;
	align-self: center;
}

.nav__item a[href] {
	text-decoration: none;
	color: var(--grey);
}

.nav__item a[href]:hover {
	color: var(--orange);
}

.nav a[href][aria-current="page"] {
	color: var(--yellow);
}

/* Footer */

footer {
	background-color: var(--dark-blue);
	color: var(--white);
	padding: 2em;
}

footer a {
	display: flex;
	color: white;
	text-decoration: none;
	margin: .5em 0;
}

footer h4 {
	color: var(--yellow);
}

footer img {
	margin-right: .5em;
}

.small {
	font-size: .8em;
}

.pink {
	background-color: var(--pink);
}

.blue {
	background-color: var(--blue);
}

.orange {
	background-color: var(--orange);
}

.darker-orange {
	background-color: #fa7b00;
}


.yellow {
	background-color: var(--yellow);
}

.breadcrumb {
	display: inline-flex;
	padding: .5em;
	margin: .2em;
	width: auto;
	/* border: 1px solid #FAF9F6; */
	/* background-color: #e57606; */
	border-radius: .5em;
}