---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% block head %}
    <link rel="stylesheet" href="/css/home.css"/>
{% endblock %}
{% block hero %}
    <div class="hero">
        <div class="content hero__flex-container">
            <div class="hero__blurb">
                <p>Hi, I'm Ashley!</p>
                <p>Welcome to Code & Curiosities, a space where I showcase my development work and share reflections on wellness,
                    technology, food, and life's small wonders. Open for work —
                    <b><a href="mailto:ashleymarie4989@gmail.com">get in touch!</a></b>
                </p>
                <p class="small">
                    <i>This site was designed and developed by Ashley Smith using 11ty, HTML, CSS, Nunjucks and deployed via Netlify.</i>
                </p>
            </div>
            {# <div class="hero__img-container"> #}
                <img src="/img/ashley-temp-headshot.jpg" class="hero__img"></div>
            {# </div> #}
        </div>
    {% endblock %}
    <section class="yellow">
        <div class="content">
            <h2>SKILLS</h2>
            {% for skill in skills %}
                <div class="breadcrumb darker-orange">{{ skill }}</div>
            {% endfor %}
        </div>
    </section>
    <section class="pink">
        <div class="content">
            <h2>PROJECTS</h2>
            <hr>
                <div>
                    {% for project in projects %}
                        <div class="project__container">
                            <img src="{{ project.imageUrl }}" class="project__img">
                                <div>
                                    <h3>{{ project.title }}</h3>
                                    <p>{{ project.description }}</p>
                                    <p><a href="{{ project.linkUrl }}">OPEN</a></p>
                                    <p>Technologies Used:</p>
                                    {% for technology in project.techStack | log %}
                                        <div class="breadcrumb yellow">{{ technology }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <section class="orange">
                <div class="content">
                    <h2>FEATURED POSTS</h2>
                    <hr></div>
                    <div class="featuredposts">
                        {% for post in featuredposts %}
                            {% FeaturedPost title=post.title, link=post.link, imageUrl=post.imageUrl, description=post.description %}
                        {% endfor %}
                    </div>
                </section>
                <section class="blue">
                    <div class="content">
                        <h2>RECOMMENDATIONS</h2>
                        <hr>
                            {% for quote in recommendations %}
                                <div class="quote">
                                    <p>{{ quote.quote }}</p>
                                    <p>
                                        <b>{{ quote.author }}</b>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </section>