---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% block head %}
    <link rel="stylesheet" href="/css/home.css"/>
{% endblock %}
{% block hero %}
    <div class="hero">
        <div class="content hero__flex-container">
            <div class="hero__blurb">
                <p>Hi, I'm Ashley!</p>
                <p>Welcome to Code & Curiosities, a space where I showcase my front-end development work and share reflections on
                    wellness, technology, food, and life's small wonders. Open for work —
                    <a href="mailto:ashleymarie4989@gmail.com">get in touch!</a>
                    {# Consider adding skills I'm proficient in here #}
                </p>
            </div>
            <div class="hero__img-container">
                <img src="/img/ashley-temp-headshot.jpg" class="hero__img"></div>
            </div>
        </div>
    {% endblock %}
    <section class="pink">
        <div class="content">
            <h2>Projects</h2>
            <hr>
                <div class="placeholder">
                    list of projects
                </div>
            </div>
        </section>
        <section class="orange">
            <div class="content">
                <h2>Featured Posts</h2>
                <hr></div>
                <div class="featuredposts">
                    {% for post in featuredposts %}
                        {% FeaturedPost title=post.title, link=post.link, imageUrl=post.imageUrl, description=post.description %}
                    {% endfor %}
                </div>
            </section>
            <section class="blue">
                <div class="content">
                    <h2>Recommendations</h2>
                    <hr>
                        {% for quote in recommendations %}
                            <div class="quote">
                                <p>{{ quote.quote }}</p>
                                <p>
                                    <b>{{ quote.author }}</b>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </section>